Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Type: AWS::AutoScaling::LaunchTemplate
    Properties:
      LaunchTemplateName: my-launch-template-3
      LaunchTemplateData:
        ImageId: ami-0bd01824d64912730
        InstanceType: t2.micro
        SecurityGroups:
          - sg-09df83df99a82a1ce
        KeyName: my-new-key-pair